version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: codeigniter-web
    depends_on:
      - db
  
  db:
    image: mysql:5.7
    container_name: codeigniter-db
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}      
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}     
    ports:
      - "33006:3306"   
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: {}