version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: codeigniter-web
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db  
  db:
    image: mysql:5.7
    container_name: codeigniter-db
    #restart: always
    environment:
      MYSQL_DATABASE: ci4
      MYSQL_USER: userdb
      MYSQL_PASSWORD: passworddb      
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: userdb
      PMA_PASSWORD: passworddb
volumes:
  db_data: {} 